body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.form{
  margin-top: 30px;
  height: auto;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.card-header:first-child {
  border-radius: var(--mdb-card-inner-border-radius) var(--mdb-card-inner-border-radius) 0 0;
}

.mb-0 {
  margin-bottom: 0 !important;
}

@media (max-width: 1130px) {
  .form {
    width: 50%;
  }
}


@media (max-width: 992px) {
  .form {
    width: 70%;
  }
}


@media (max-width: 768px){
  .form{
    width: 96%;
  }
}
